/* Mobile First Approach */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.grid {
    height: 100vh;
    display: grid;
    /* rows define 'heights', column defines 'widths' */
    grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr;
    gap: 24px;
}

.header {
    background-color:lightseagreen;
}

.navigation {
    background-color: lightsalmon;
}

.content {
    background-color: lightslategray;
}

.sidebar {
    background-color: lightpink;
}

.small-sidebar {
    background-color: lightgreen;
}

.footer {
    background-color: lightblue;
}

@media only screen and (min-width:720px) {
    .grid {
        grid-template-columns: repeat(12,1fr);
        grid-template-rows: 1fr 1fr 4fr 1fr;
    }

    .header {
        grid-column: 1/ span 12;
    }

    .navigation {
        grid-column: 1/ span 12;
    }

    .content {
        grid-column: 4/ 13;
    }

    .sidebar {
        grid-column: 1 / 4;
        grid-row: 3 / 4;
    }

    .footer {
        grid-column: 4/ span 9; 
    }

    .small-sidebar {
        grid-column: 1 / span 3;
    }
}

@media only screen and (min-width: 1020px) {
    .grid {
        grid-template-columns: repeat(12,1fr);
        grid-template-rows: 1fr 1fr 4fr 1fr;
    }

    .header {
        
    }

    .navigation {
        grid-column: 4 / 11;
       /* grid-column:  4 / span 7; */
    }

    .content {
        grid-column: 4 / 11;
        /* grid-column: 4 / span 7; */
    }

    .sidebar {
        grid-row: 2 / span 2 ;
        /* grid-row: 2 / 4; */
    }

    .footer {
        grid-column: 1 / 13;
       /* grid-column: 1 / span 12; */
    }

    .small-sidebar {
       grid-column: 11 / 13;
       grid-row: 2/4;
    }
}


  